on:
  release:
    types: [created]
  
name: "pre-release"
jobs:
  releases-matrix:
    runs-on: ubuntu-latest
    env:
        RELEASE_TAG_NAME: ${{ github.event.release.tag_name }}
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, windows/386, windows/amd64, darwin/amd64 
        goos: [linux, windows, darwin]
        goarch: ["386", amd64]
        exclude:  
          - goarch: "386"
            goos: darwin 
    steps:
    - uses: actions/checkout@v2
    - uses: wangyoucao577/go-release-action@v1.20
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: "https://dl.google.com/go/go1.16.5.linux-amd64.tar.gz"
        binary_name: "spinup-backend"
        ldflags: "-X 'main.apiVersion=$RELEASE_TAG_NAME'"
        extra_files: README.md CONTRIBUTING.md